# This is temporary
# Should probably use a more robust one but this should be okay for now...
# Note it is almost certainly too strict
# Didn't include .mems for now 

*
!.gitignore

!data/
!data/*.mem
!build.tcl
!xdc/
!xdc/*.xdc
!hdl/
!hdl/*.sv
!hdl/*.v
!sim/
!sim/*.py
!sim/util/
!sim/util/*.py
!util/
!util/*.pal
!util/*.py
