# This is temporary
# Should probably use a more robust one but this should okay for now...
# Note it is almost certainly too strict
# Didn't include .mems for now 

util/*.mem
util/ROMS/*
obj/
data/
.gitignore